.input-group {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 1rem 2rem;
    border-radius: 10000px;
    border: 1px solid #ccc;
}

.input.invalid {
    background-color: pink;
}

.label {
    margin-left: 2.4rem;
    transform: translateY(-2.4rem);
    background-color: white;
    width: max-content;
    padding: 0 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.input:focus {
    outline: 1px solid #999;
}

.input:focus::placeholder {
    opacity: 0;
}

.input:focus + .label {
    transform: translateY(-4.5rem);
    opacity: 1;
    visibility: visible;
}

.error {
    color: red;
    margin-left: 2.4rem;
    margin-bottom: 1rem;
}
