.subHeader{
    background-color: #F1F2F4;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subHeaderText{
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    letter-spacing: 0.1rem;
    margin-right: 5vw;
    border-bottom: black 2px solid;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.cartNumber{
    color: white;
    margin-left: 0.5vw;
    background-color: black;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    padding:0 0 1.5px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cartContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableCart {
    border-collapse: collapse;
    width: 100%;
}
  
.tableCart tr {
border-bottom: 1px solid #ddd;
}


.tableCart th, .tableCart td {
padding-top: 15px;
padding-bottom: 15px;
}